client_secret_852080266925-9c8obj10gafeuebi3fbc5ins8i4uu54v.apps.googleusercontent.com.json
.env
browser-eyes/node_modules
browser-eyes/dist
Big-Brother/Agent_Tools/Email/client_secret_852080266925-a1fca2ske011as84mmtt2o3jbeh7ak9m.apps.googleusercontent.com.json
Big-Brother/Agent_Tools/Email/credentials.json
Big-Brother/Agent_Tools/Email/token.pickle
Big-Brother/.env